{% extends "core/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block contenido %}
{% block blcss %}

{% endblock %}
<div class="col-12 d-flex align-items-center justify-content-center">
    <div class="col-11 mapa card mt-2">
        <div class="card-body col-11">
            <h2>Cambiar contraseña</h2>
            <hr>
            <form method="post" class="col-12">
                {% csrf_token %}
                <table id="tabla-contrasena" class="table col-12">
                    {{ form.as_table }}
                </table>
                {% if form.errors %}
                <div class="col-12" style="margin-top: 10px;">
                    <ul>
                        {% for field_errors in form.errors.values %}
                        {% for error in field_errors %}
                        <li class="text-danger font-weight-bold">{{ error }}</li>
                        {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <div class="col-10">
                    <button type="submit" class="btn btn-success" title="Guardar">
                        <img src="{% static 'core/img/guardar.svg' %}" width="20" />
                    </button>
                    <a href="{% url 'elabora' %}" class="btn btn-danger" title="Cancelar">
                        <img src="{% static 'core/img/cancelar.svg' %}" width="20" />
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>    
{% block bljs %}

{% endblock %}
{% endblock %}