{% extends "core/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% block contenido %}
<div class="col-12 mt-2">
    {% if user.is_authenticated %}
    <form method="post" class="col-12">
        {% csrf_token %}
        <div class="col-11 mapa">
            <table class="col-12" style="background-color: transparent;">
                <tbody class="col-12" style="background-color: transparent;">
                    <tr class="col-12" style="background-color: transparent;">
                        <td class="col-12" style="background-color: transparent;">
                            <div class="col-12">
                                <h2>{% if object %}Editar{% else %}Nuevo{% endif %} Adicional</h2>
                                    {{ form.nombre|as_crispy_field }}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="col-12">
                <button type="submit" class="btn btn-primary" style="padding: 5px;">Guardar</button>
                <a href="{% url 'adicional_list' %}" class="btn btn-secondary" style="padding: 5px;">Cancelar</a>
                {% if object %}
                    <a href="{% url 'adicional_delete' object.pk %}" class="btn btn-danger" style="padding: 5px;">Eliminar</a>
                {% endif %}
            </div>
        </div>
    </form>
    {% endif %}
</div>
{% endblock %}

<script>
    {% block inicio %}
        $('.boton_4').addClass('active');
        $('.boton_43').addClass('active');
    {% endblock %}
</script>
    