{% extends "core/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% block headJS %}
    {% if user.is_authenticated %}
    <meta http-equiv="refresh" content="10">
    {% endif %}
{% endblock %}
{% block contenido %}
{% if not user.is_authenticated %}
<div class="col-12 mt-2"></div>
{% else %}
<div class="col-12 mapa mt-2" style="padding: 0;">
{% endif %}
    {% if not user.is_authenticated %}
    <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="mt-2">
            <img src="{% static 'core/img/Torta.jpg' %}" class="imagen-principal" style="width: 200px;">
        </div>
    </div>
    {% else %}
    <div class="mt-2 col-12" style="padding: 0; background-color: transparent;">
        <form action="" class="col-12" style="padding: 0; background-color: transparent;">
            {% csrf_token %}
            <table class="col-12" style="background-color: transparent; padding: 0;">
                <tbody class="col-12" style="background-color: transparent; padding: 0;">
                    <tr class="col-12" style="background-color: transparent; padding: 0;">
                        <td class="col-12 scrollable-td" style="background-color: transparent; padding: 0;">
                            <div class="col-12 scrollable-content" style="padding: 0; background-color: transparent;">
                                {% if pedidos_solicitados %}
                                {% for pedido in pedidos_solicitados %}
                                <div class="col-12 d-flex align-items-center justify-content-center" id="id_pedido_{{ pedido.id }}" style="background-color: transparent; padding: 5px;">
                                    <div class="col-10 mapa-torta" style="color: yellow; padding: 0 10px 0 0;">
                                        <table class="col-12" style="padding: 0; background-color: transparent;">
                                            <tbody class="col-12" style="padding: 0; background-color: transparent;">
                                                <tr class="col-12" style="padding: 0; background-color: transparent;">
                                                    <td class="col-2 d-flex align-items-center justify-content-center" style="background-color: transparent;">
                                                        <div class="col-12" style="font-size: 35px; padding: 0;">
                                                            {{ pedido.cantidad }} <br> 
                                                            {% if pedido.donde == 'Para llevar' %}
                                                                <img src="{% static 'core/img/bolsa.png' %}" style="width: 30px;">
                                                            {% else %}
                                                                <img src="{% static 'core/img/tienda.png' %}" style="width: 30px;">
                                                            {% endif %}
                                                        </div>
                                                    </td>
                                                    <td class="col-10" style="padding: 0; background-color: transparent;">
                                                        <div class="col-12 mapa-torta" style="color: yellow;">
                                                            {{ pedido.torta }}
                                                            <hr class="my-0" style="border-color: white;">
                                                            {{ pedido.adicionales }}
                                                            <hr class="my-0" style="border-color: white;">
                                                            {{ pedido.picante }}
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-2" style="padding: 0;">
                                        <button class="btn btn-success boton-termina" id="boton_termina_{{ pedido.id }}"
                                            style="padding: 5px;">
                                            <img src="{% static 'core/img/ok1.svg' %}" style="width: 32px;">
                                        </button>
                                        <button class="btn btn-danger boton-cancela-elabora" style="padding: 5px;" id="id_boton_cancela_{{ pedido.id }}">
                                            <img src="{% static 'core/img/cancelar.svg' %}" style="width: 32px;">
                                        </button>
                                    </div>
                                </div>
                                {% endfor %}
                                {% else %}
                                <div class="row d-flex align-items-center justify-content-cente">
                                    <div class="spinner-border text-primary" role="status">
                                        <span class="visually-hidden"></span>
                                    </div>
                                    <div style="margin-left: 20px;">
                                        Esperando pedido ...
                                    </div>
                                </div>      
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}

<script>
{% block inicio %}
    $('.boton_1').addClass('active');
{% endblock %}
</script>
