body {
    background-color:#EDF2F7;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
.btn-guardar {
    background-image: url("/static/core/img/guardar.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 40px;
}
label.error {
    color: darkred;
}
.mensaje-error {
    margin-top: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: red;
    font-size: 13px;
}
.logo {
    width: 100px;
    margin-left: 20px;
}

/*CONTENIDO PRINCIPAL*/

.pan-login {
    box-shadow: 0 0 10px #000;
    background-color: white;
}
.menu {
    width: 40px;
    position: absolute;
    left: 10px;
    top: 10px;
    display:none;
}
/*Tablets*/
.mapa {
    box-shadow: 0 0 10px #000;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    background-color: transparent;
    padding: 10px 10px 10px 10px;
}  
.mapa-torta {
    box-shadow: 0 0 10px #000;
    border-radius: 10px;
    margin: 3px 3px 3px 3px;
    background-color: #a55818;
    color: white;
    padding: 5px 5px 5px 5px;
}  
.checkbox-large.form-check-input {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
.mapa-boton {
    box-shadow: 0 0 10px #000;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
}  
table thead tr td {
    background: #4d91ff;
    color: #000;
}
.titulo-columna {
    background-color: #c4ceff;
    color: #000;
    text-align: center;
    border: solid 1px #ffffff;
    font-style: italic;
    font-weight: bold;
}
.etiqueta {
    font-size: large;
    font-weight: bold;
}
.celdaPedido {
    border-bottom: solid 1px #ffffff;
}